pyrogram 
 tgcrypto 
 pymongo[srv] 
 motor 
 marshmallow 
 umongo 
 requests 
 bs4 
 git+https://github.com/Joelkb/cinemagoer 
 shortzy 
 datetime 
 pytz 
 aiohttp

#---master---# 
 #Telethroid==0.0.10 
 PyLeaves 
  
  
 #---others----# 
 opencv-python-headless 
 python-dotenv 
 speedtest 
 humanize 
 Pillow 
 psutil 
 NumPy 
 wheel 
 ujson 
 wget 
 pytz
 aiofiles
 dnspython==2.3.0
 ### googletrans==4.0.0-rc1 ###
python-decouple
ffmpeg-python

jinja2
apscheduler
pyshorteners
pyromod
colorama



  
pyrofork
tgcrypto
motor
marshmallow
umongo
pymongo
pytz
cinemagoer
shortzy
aiohttp
aiofiles
telegraph
openai
speedtest-cli
